flask
streamlit
requests
pandas
sqlite3

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq

sentence-transformers
chromadb
unstructured
python-docx
pypdf
python-pptx
lxml
