streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
sentence-transformers==2.7.0
transformers==4.41.2
huggingface-hub==0.23.5
chromadb
pandas
docx2txt
pypdf
python-pptx
unstructured
lxml
python-dotenv